.container{
  background-color: rgb(166, 209, 207);
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas: 
    "header"
    "viewport"
    "footer";
  font-family: sans-serif;
}

.header {
  background-color: aliceblue;
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 2;
}

.main {
  grid-area: viewport;
  display: grid;
  grid-template-columns: 1fr 9fr;
}

.container .sidebar {
  background-color: rgb(41, 88, 128);
  height: 100%;
}

.sidebar nav{
  background-color: rgb(41, 88, 128);
  height: 100%;
}




.footer {
  grid-area: footer;
  background-color: rgb(200, 205, 209);
  min-height: 10vh;
}
